.navUp
{
    display: flex;
    background: url(../img/backNav.png);
    height: 40px;
    justify-content: flex-end;
}
.login
{
    display: flex;
    margin-right: 90px;
    margin-top: 10px;
}
html, body {
    padding: 0;
    margin: 0;
    width: 1400px;
}
.Separate
{
    background: url(../img/razdel.png) no-repeat;
    margin-top: 2px;
    width: 2px;
    height: 13px;
    margin-right: 7px;
    margin-left: 7px;
}
a.NavUr{
    height: 15px;
    text-decoration-line: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: relative;
}
a.NavUr:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 15px;
}
a.NavUr:hover
{
    border-width: 0 0 1px;
    border-style: solid;
}
.sep
{
    height: 1px;
    background: url(../img/razdel.png);
}
